html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
  font-size: 62.5%;
  font-family: sans-serif;
  background-color: black;
}
.wrapper {
  width: 800px;
  height: auto;
  padding: 1px 0;
}
.header-page {
  height: 250px;
  background-color: rgb(0, 80, 54);
}
.header-page--logo {
  background-image: url(img/logo.png);
  width: 800px;
  height: 159px;
  display: block;
  margin: auto 50%;
}
#start {
  color: red;
  margin-top: 10%;
  margin-left: 60%;
  background-color: rgb(0, 80, 54);
}
#snakeCanvas {
  margin-top: 10%;
  margin-left: 10%;
  border: 10px inset brown;
  background-color: white;
}
input {
  color: red;
  text-align: center;
  margin-left: 3%;
  background-color: rgb(0, 80, 54);
}
#perdu {
  position: fixed;
  top: 50%;
  left: 45%;
  visibility: hidden;
}
